// Normalization and utilities
@use 'utilities/normalize';
@use 'utilities/utilities';

// Theme styling
@use 'abstracts/mixins';
@use 'abstracts/variables';
@use 'base/globals';
@use 'base/typography';
@use 'components/buttons';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/navigation';
@use 'pages/home/home';
