@use "sass:meta";

/** Global variables **/
 //$container_width: __px;
 //$default_animation_time: .__s;

/* Transition */
@mixin default-transition {
  @if meta.variable-exists(default_animation_time) {
    -webkit-transition: all var($default_animation_time) ease-in-out;
    transition: all var($default_animation_time) ease-in-out;
  }
}

/** Colour variables **/
//$font_color01-id: #______;
//$color: $font_color01;

/** Breakpoints **/
$mobiletop_breakpoint: 767px;
$tablet_bottom_breakpoint: 768px;
$tablet_top_breakpoint: 1024px;

/** Font sizes - variables **/

//$p_size: font-size: @include fluid-font(__, __, __);
//$h1_size: font-size: @include fluid-font(__, __, __);
//$h2_size: font-size: @include fluid-font(__, __, __);
//$h3_size: font-size: @include fluid-font(__, __, __);
/*@for $i from 4 through 5 {
  h#{$i} {
    @include fluid-font(__, __, __);
  }
}*/

//Required sizes by empty brackets: min, base, max;
