@use "sass:meta";
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Text highlight styling */
/*::target-text {
  background-color: #000;
  color: #fff;
}*/

a {
  @include default-transition;
}

@media (max-width: $tablet_top_breakpoint) {
  html, body, .site {
    max-width: 100%;
  }
}

/** Containers **/

.container {
  position: relative;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrap;
  width: 100%;
  @if meta.variable-exists(container_width) {
    //width: clamp(320px, calc(100% - 60px), var($container_width));
    max-width: min(calc(100% - 60px), $container_width);
  }
}


