@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

body {
  //font-family: '';
  line-height: normal;
  //color: $font_color01-id;
}

//@for $i from 1 through 6 {
  //h#{$i} {
    //font-family: 'Urbanist';
  //}
//}
