@media (max-width: 767px) {

    .hide-mobile{display:none !important;}

    /****** 00 GENERAL CLASSES *******/

    html,
    body,
    .site {
        max-width: 100%;
        overflow-x: hidden;
    }

}

