@media (max-width: 767px) {

    /****** 00 GENERAL CLASSES *******/

    html,
    body,
    .site {
        max-width: 100%;
        overflow-x: hidden;
    }

    .hide-mobile {display: none !important;}

}
