/**!! MAIN THEME STYLING !!**/

/* Main variables */
:root {
    /*--container_width: ____px;
	--main-coulour01-id: #______;
	color: var(--main-coulour01-id);*/
}

/* Optional property helpers */
/*@property --val {
	syntax: "<variable_>";
	inherits: false;
	initial_value: __;
}*/

/* Text highlight styling */
/*::target-text {
	background-color: #000;
	color: #fff;
}*/

/****** 00 GENERAL CLASSES *******/

body {
	/*font-family: '', sans-serif;*/
	/*line-height: __px*/
}

@media (min-width: 1025px) {.hide-desktop{display: none !important}}

/*** Containers ***/

.container {
	width: clamp(320px, calc(100% - 60px), var(--container_width));
	position: relative;
	margin: 0 auto;
}

/****** HEADER *******/
