@use "sass:meta";

/** Global variables **/
 //$container_width: __px;
 //$default_animation_time: .__s;

/* Transition */
@mixin default-transition {
  @if meta.variable-exists(default_animation_time) {
    -webkit-transition: all var($default_animation_time) ease-in-out;
    transition: all var($default_animation_time) ease-in-out;
  }
}

/** Colour variables **/
//$font_color01-id: #______
//$color: $font_color01

/** Breakpoints **/
$mobiletop_breakpoint: 767px;
$tablet_bottom_breakpoint: 768px;
$tablet_top_breakpoint: 1024px;

/** Font sizes - variables **/

@mixin fluid-font($min, $base, $max) {
  font-size: clamp(
    #{$min}px,
    calc(#{$base}px + (100cqi - 320px) * 28 / (#{$container_width} - 320)),
    #{$max}px
  );
}

//$p_size: font-size: @include fluid-font(14, 16, 18);
//$h1_size: font-size: @include fluid-font(14, 16, 18);
//$h2_size: font-size: @include fluid-font(14, 16, 18);
//$h3_size: font-size: @include fluid-font(14, 16, 18);
/*@for $i from 4 through 5 {
  h#{$i} {
    @include fluid-font(14, 16, 18);
  }
}*/

//Required sizes by empty brackets: min, base, max; 320px is min size of viewport, 100cqi relates to nearest .container width
